body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12.000086408751px;
  width:809.999827182498px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:523px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-2px;
  width:805px;
  height:523px;
  display:flex;
  color:#000000;
  text-align:left;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:59px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:3px;
  height:55px;
  display:flex;
  -webkit-transform:rotate(1.08177197807447deg);
  -moz-transform:rotate(1.08177197807447deg);
  -ms-transform:rotate(1.08177197807447deg);
  transform:rotate(1.08177197807447deg);
  color:#24C9D4;
  text-align:left;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#D9001B;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:8px;
  width:222px;
  height:34px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#D9001B;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:2px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:53px;
  width:810px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.150762461058943deg);
  -moz-transform:rotate(-0.150762461058943deg);
  -ms-transform:rotate(-0.150762461058943deg);
  transform:rotate(-0.150762461058943deg);
  font-size:18px;
  color:#24C9D4;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#D9001B;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:13px;
  width:231px;
  height:24px;
  display:flex;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#D9001B;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:463px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:58px;
  width:708px;
  height:463px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:52px;
  width:89px;
  height:303px;
}
#u15_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:303px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
  display:flex;
  font-size:21px;
  color:#D9001B;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:89px;
  height:101px;
  display:flex;
  font-size:19px;
  color:#D9001B;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:89px;
  height:101px;
  display:flex;
  font-size:19px;
  color:#D9001B;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#D9001B;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:289px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#D9001B;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正粗黑宋简体 Oblique', '方正粗黑宋简体';
  font-weight:400;
  font-style:oblique;
  font-size:42px;
  color:#D9001B;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:329px;
  width:252px;
  height:51px;
  display:flex;
  font-family:'方正粗黑宋简体 Oblique', '方正粗黑宋简体';
  font-weight:400;
  font-style:oblique;
  font-size:42px;
  color:#D9001B;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:355px;
  width:89px;
  height:101px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
  display:flex;
  font-size:19px;
  color:#D9001B;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
